html body {
  height: 100vh;
  background-size: cover  !important;
  background-attachment: fixed;
  background-position: center !important;
  background: rgba(56, 239, 125, 0.5); /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(17, 153, 142, 0.7), rgba(56, 239, 125, 0.9)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(220, 227, 91, .7), rgba(69, 182, 73, .9)),
              url("./images/pigbackground.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  font-family: 'Rubik', sans-serif;
}

.dropdown-menu {
    background: rgba(100, 100, 100, 0.3) !important;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%);
}

.dropdown:hover  .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    display:none !important;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: gray;
}

.navbar {
  font-size: 2em;
  position: absolute !important;
  margin: 2vw;
  color: white;
  width: 95%;
  flex-flow: row nowrap!important;
  align-items: flex-start !important;
}

.navbar-toggler {
  color: white;
  right:2vw;
}

.navbar-nav {
  float: right;
  text-align: center;
  flex-flow: row nowrap!important;
}

.nav-item {
  margin-right: 4vw !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.icon-bar {
	width: 2em;
	height: .28em;
	background-color: white;
	display: block;
	transition: all 0.2s;
	margin-top: .28em;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

/* home page */

.intro {
  color: white;
  text-align: center;
  padding-top: 35vh;
  font-weight: 700 !important;
  margin-left: 5vw;
  margin-right: 5vw;
}

.intro h1 {
  font-size: 4em;
}

.intro h2 {
  font-size: 3em;
}

/* about page */

.about {
  color: white;
  margin : 3vh;
}

.about h2{
  line-height: 2;
}
